<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_04.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_11.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>سیستم تهویه و شارژ کولر</h3>
        <p>
			همواره سیستم کولر و تهویه مطبوع یکی از موارد مهم در ایجاد حس راحتی و آرامش سرنشینان خودرو بوده است.<br>
			و از سوی دیگر و از منظر موتور خودرو یکی از بخش های پر مصرف و ایجاد کننده بار بر روی موتور نیز کمپرسور کولر می باشد. نحوه عمکرد خودرو در سربالایی ها، در هنگام سبقت، در مکان های مرتفع و حتی در کنار ساحل، همه و همه عملکرد سیستم کولر و تهویه مطبوع در بخش مدیریت موتور رصد می شود تا موتور در بهترین شرایط عملکردی خود از نظر سرعت و میزان مصرف سوخت و آلایندگی آن واقع شود.<br>
			حالا سوالی که ßمطرح می شود این است:<br>
			چه می شود اگر هر کام از اجزا و سیستم های مجموعه کولر به درستی وظایف خود را انجام ندهند؟<br>
			میزان و فشار گاز کولر، کندانسور، اواپراتور و ...<br>
			بله، مطمئنا در عملکرد خودرو موجب ایراداتی می گردد. از عملکرد نامناسب خودرو در هنگام شتاب گیری تا آرامش سرنشینان. <br>
			پس همانطور که آگاه شدید سرویس و تعمیر به موقع سیستم کولر و تهویه مطبوع می تواند درصد زیادی از بد بودن عملکرد خودرو را جبران نموده و به شما حس راحتی و رانندگی ای با آرامش هدیه کند.<br>
        </p>
		  <h4>مثل همیشه شما می توانید با سپردن این کار به کارشناسان ما از انجام آن به بهترین نحو اطمینان داشته باشید.</h4>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>