<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_14.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_17.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>تعمیرات گیربکی اتوماتیک</h3>
		    <p>
		      با پیشرفت صنعت خودرو سازی مجموعه های و سیستمم های آن ها هم دستخوش تغییرات بسیاری شده اند.
		      از جمله این تغییرات مربوط به گیربکس و سیستم انتقال قدرت می باشد.<br/>
		      با پیچیده تر شدن این مجموعه ها مسلما تعمیر و نگهداری آن ها نیز نیاز به تخصص و دانش بیشتری دارد.
		      گیربکس های اتوماتیک متشکل از صدها قطعات ریز و درشت و ده ها مدارات روغن و شیرهای کنترلی و قطعات برقی و 
		      سیستم های مدیریت الکترونیکی که در ارتباط با بقیه سیستم های دیگر خودرو می باشند.<br/>
		      به جرات می توان گفت در مرکز خدمات تخصصی ایران مزدا کارشناسان ما با دارا بودن سالها تجربه در زمینه تعمیرات گیربکس های
		      اتوماتیک به شما مشتریان عزیز خدمات کاملا تخصصی ارائه داده و با تامین قطعات اصلی همراه با گارانتی
		      شما را از مراجعه به مراکز غیر تخصصی و قطعات تقلبی بی نیاز  می کنند.
		    </p>
		    <h3>در صورت مشاهده هرگونه عیب و ایراد جزئی در گیربکس خودروی مزدای خود با ما تماس بگیرید، ما شما را راهنمایی می کنیم.</h3>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>