<% title 'تسمه ها و شلنگ ها' %>
<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_03.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_10.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>تسمه ها و شلنگ ها</h3>
        <p>
			بازدید مرتب تسمه ها و شلنگ های خودرو شما را از متحمل شدن خسارات احتمالی آینده مصون می دارد.<br>
			همانطور که می دانید مایعات جاری مانند آب، روغن هیدرولیک، ضد یخ، روغن ترمز و ... درون لوله ها و شلنگ ها در جریانند که اگر دچار آسیب دیدگی و شکستن و یا پارگی بشوند باعث ایجاد خسارت می شوند؛ مخصوصا در موردی مانند ترمز که نتایج جبران ناپذیری خواهد داشت.<br>
			لذا در صورت مشاهده هرگونه نشتی و آسیب دیدگی در این اجزا حتما نسبت به تعویض و تعمیر آن ها اقدام نمایید.<br>
			از لوله ها و شلنگ ها که بگذریم، تسمه ها و زنجیرها در موتور خودرو وظیفه انتقال حرکت را به عهده دارند. اگر خواهان خودرویی با موتور کم سر و صدا هستید نباید از بازدید آن ها قافل شوید.<br>
        </p>
		  <h4>می توانید چهت سرویس و تعویض موارد فوق نیز به مرکز خدمات تخصصی ایران مزدا مراجه بفرمایید.</h4>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>