<% title 'صافکاری و نقاشی' %>
<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_16.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_18.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>صافکاری و نقاشی</h3>
		    <p>
         اگر خودروی مزدای شما نیاز به لکه گیری، صافکاری و یا نقاشی اساسی داشت، ما در خدمت شما هستیم.
         تلاش می کنیم تا خودروی شما را مانند روز اول کنیم. 
         سعی ما بر این است خرابی ها، تورفتگی ها و برآمدگی ها را بدون نیاز به رنگ رفع کنیم و چنانچه
         اگر نیاز به رنگ بود از بهترین متریال استفاده می کنیم ، به طوری که کاملا ممشابه رنگ اصلی خودروی 
         شما باشد.
        </p>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>