<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_05.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_12.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>تعمیرات ترمز</h3>
        <p>
			ترمز؛ مهمترین بخش در امنیت و سلامت سرنشینان.<br>
			همین یک خط توضیح بالا کافیست تا ما از اهمیت سلامت سیستم ترمز و پافشاری در سرویس های دوره ای و نظارت مرتب بر آن صحبت نکنیم. <br>
			از بحث اهمیت سیستم ترمز و تکیه بر سرویس و نگهداری آن که بگذریم باید بگوییم این روزها سیستم های ترمز خودروها بسیار پیچیده شده اند. از سیستم های ABS که مدت هاست از اجرایی شدن آن می گذرد تا سیستم های ABS مدرن با سیستم های تقسیم فشار و عملگرهای برقی و سیستم های کنترل مجزا و هوشمند.<br>
			مطمئنا سرویس و نگهداری سیستم های عنوان شده نیاز به تخصص و دانش دارد و این مورد نیز شایان ذکر است که سیستم ترمز خودروهای مزدا نیز این مهم مبرا نیستند.<br>
			بازدید لنت ها، کالیپر، روغن ترمز، مسیر لوله ها و ... نیاز به صرف زمان و استفاده از ابزارها و تجهیزات مرتبط دارد. همچنین استفاده از روغن ترمز استاندارد و مورد تایید شرکت مزدا نیز خود یکی از موارد مهم است که متاسفانه تعمیرکاران به آن توجه کافی ندارند.<br>
			در این مرکز با ارائه برگه های نظارت دوره ای همانند شناسنامه تعمیراتی خودرو و همچنین سرویس و نگهداری حرفه ای به مشتریان عزیز اطمینان داده خواهد شد که سیستم ترمز آن ها با روش های <br>
        </p>
		  <h4>اصولی و مهندسی بازدید و در صورت نیاز تعمیر گردیده و در اختیار آن ها خواهد گرفت.</h4>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>