<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_01.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_09.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
       <div class="col-md-10 text-right">
         <h3>عیب یابی موتور</h3>
        <p>
        	
			بسيار ديده شده است كه كارشناسان طراح اجزاي خودرو پس از اينكه خودرو در بازار مصرف و در شرايط اقليمي مختلف در دست مشتريان قرار گرفته است عيب هايي در آن پديدار شده كه طراح اين مجموعه ها نيز از رفع آن عاجز مانده اند. از اين رو رفع ایراد موارد این چنینی كار بسيار تخصصي ای بوده و نيازمند افراد كار آزموده و باتجربه مي باشد.<br>
			 در عيب يابي خودرو مي بايستي توضيحات لازم در خصوص عيب و شرايط ايجاد آن به همراه اطلاعات اوليه كافي، از مشتري در هنگام مراجعه دريافت نمود.<br>
			 دریافت این اطلاعات به این خاطر است که برخي از آنها در زمان مراجعه به تعميرگاه و زمان تست اتفاق نمي افتند و يا ايراداتي هستند كه در سطح عيب يابي OBD II نيز خود را به صورت كد خطا نشان نميدهند، مخصوصاً ايرادات گيربكس اتوماتيك، به همین دلیل در زمان پذيرش خودرو كارشناسان تعميراتي مي بايستي به صورت هوشمندانه حس مشتري در خصوص عيب را دريافت نموده و آنرا تشخيص دهند. <br>
			در مراحل بعدی از پروسه عیب یابی، ايراداتي كه به صورت كدهاي خطا در حافظه يونيت ها ذخيره ميگردد را با استفاده از دستگاه عيب ياب شناسايي كرده و به سراغ رفع عيب خواهند رفت. 
			 نكته قابل توجه اين است كه هر كد خطايي نشان دهنده خرابي قطعه خاصي نيست، برخي از ايرادات به صورت همزمان چندين كد خطا را در يونيت و حتي يونيت هاي ديگر ذخيره مي كنند، در اينجا كارشناسان با تکیه بر میزان اطلاعات تئوري خودرويي و تجربه خود به تفكيك ايراد پرداخته، سر منشاء ايراد را شناسايي و آنرا رفع عيب مينمايند. <br>
			 معمولاً ميتوان با استفاده از فلوچارتهاي عيب يابي به رفع عيب پرداخت که انتخاب مسير درست عيب يابي سبب كاهش زمان تعميراتي، كاهش خواب خودرو و در كل و از همه مهمتر هزينه آن خواهد شد. 

			
			
        </p>
				<br><h4> اين مركز با در اختيار داشتن افراد با دانش مهندسي خودرو و تجربه لازم سعي در تحقق اين امر، آن هم به درسترين روش، را دارد. <h4/>
       </div>
		 <%= render "shared/contactside" %>
    </div>
  </div>
</section>