<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_02.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_08.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>تعویض روغن و فیلترها</h3>
        <p>استفاده از روانكارها و ادتيوها براي خودرو بسيار حائز اهميت ميباشد
            معمولاً هر خودرو در زمان تحويل از كمپاني حاوي دفترچه راهنماي مشتري بوده كه تمامي بازرسي هاي خودرو زمان و نوع ادتيوها در آن مشخص ميباشد از اينرو ميتوان آنرا بهترين منبع در اين خصوص دانست معمولاً با توجه به دقت ماشينكاري و تلورانس ها همينطور منطقه اقليمي گريد ادتيوها همينطور ميزان مصرف آن مشخص ميگردد
            اين مركز با پشتوانه مهندسي قوي تخصصي ترين نوع ادتيوها را دقيقاً مطابق با پيشنهاد مزدا در اختيار ...

            ... خودرو به سرعت و به درستي تشخيص داده شده و فارغ از هرگونه فرآيند سعي و خطا مطابق با دستورالعمل هاي تعميراتي (work shop manual) مزدا انجام شده كه ماحصل آن رفع عيب به درسترين شكل در كمترين زمان ممكن با هزينه پايين مي باشد. حتي سعي شده است تعميرات سنگين نظير تعمير موتور و گيربكس اتوماتيك به حالت سيستمي و منظم انجام گرفته تا زمان خواب خودرو به حداقل زمان ممكن كاهش يابد. 
            اين مركز ركوردار در تعمير گيربكس اتوماتيك در كمتر از يك روز از زمان پذيرش تا ترخيص خودرو و همچنين تعمير اساسي موتور با احتساب زمان تراشكاري در چهار روز مي باشد.
        </p>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>

