<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_02.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_08.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>تعویض روغن و فیلترها</h3>
        <p>
			  سرويس روغن در خودرو به نظر برخي افراد امري ساده به نظر ميرسد اين در حالي است كه انتخاب روغن مناسب با توجه به تغييرات دماي منطقه اقليمي از سوي خودرو ساز متغير است، و اينكه اگر خودرو در كشوري غير از ةشور اصلي سازنده آن توليد شده باشد و امكان دسترسي به روغن آن موجود نباشد روغن جايگزين ديگر از سوي خودروساز معرفي ميگردد. <br>
			  در مورد انتخاب روغن، برخي به اشتباه تصور می کنند كه هرچه روغن جديدتر و گرانتر در خودروي خود مصرف كنند بهتر است؛ اين در حالي است كه تنها مرجع در انتخاب روغن موتور توصيه خودروساز مي باشد كه اين توصيه بر اساس تلورانس هاي ساخت و سازگاري قطعات با روانكارها مي باشد. <br>
			  از اين رو انتخاب روغن مناسب قطعاً در افزايش طول عمر قطعات ميگردد، بهترين راه جهت اينكه بتوان تشخيص داد روغن مناسب خودرو بوده يا خير آناليز روغن مصرف شد ه در خودرو در آزمايشگاههاي شركت هاي روغن ساز است، با آناليز  و مشخص شدن ذرات ميتوان فهميد كه در كداميك از قسمت ها روغن با قطعات سازگار نبوده و باعث سايش شده است.<br>
			  استفاده از فيلترهای مناسب نيز موضوعي بسيار حائز اهميت براي سلامت خودرو بشمار مي آيد، فيلتر ها وظيفه فيلتراسيون ذرات موجود در سيالات را بر عهده دارند كه هر كدام مجاز به عبور ذرات با اندازه خاصي مي باشند و استفاده از فيلترهاي غير اصلي باعث عبور ذرات درشتر شده و به مجموعه ها آسيب ميرساند، لذا توصيه ميشود جهت افزايش عملكرد و طول عمر مجموعه ها از قطعات اصلي در اين موارد استفاده شود.
			  
		  </p>
		  <h4>اين مركز با پشتوانه مهندسي قوي تخصصي ترين نوع روغن ها و فیلترها را دقيقاً مطابق با پيشنهاد مزدا در اختيار مشتریان عزیز قرار خواهد داد.</h4>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>

