<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_15.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_19.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>تعمیرات سیستم تعلیق و فرمان</h3>
		    <p>
          این روزها با توجه به کیفیت نا مناسب جاده ها سیستم تعلیق آن ها نیز دائما دچار مشکلات می شود.
          که این مشکلات باعث ایجاد خرابی در لاستیک ها،ذ کشیدگی فرمان و همچنین توانایی نامناسب مانور خودرو
          تز جمله این مشکلات هستند.<br/>
          بازرسی و نظارت مرتب سیستم تعلیق و فرمان خودرو راننده را از ایجاد تعمیرات اساسی و متحمل شدن
          هزینه های بالا جهت تعمیرات این سیستم مصون می دارد.
          در این مرکز با وجود کارشناسان خبره عیوب سیستمم تعلیق خودروی مزدای شما در کوتاه ترین
          زمان ممکن تشخیص داده می شود و در صورت نیاز به تغییر و جایگزینی قطعات،
          از قطعات یدکی اصلی استفاده می شود.
        </p>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>