<% title 'سرویس تایرها و چرخ ها' %>
<section id="services-section">
  <div class="container">
    <div class="row" align="center">
      <div class="col-md-5">
        <%= image_tag 'our_services/image_06.jpg' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'our_services/image_13.jpg' %>
      </div>
      <div class="col-md-2" align="right">
        <%= render 'shared/links' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <h3>سرویس تایرها و چرخ ها</h3>
        <p>
			می دانید که بخش عمده ای از کیفیت سواری خودرو و همچنین هندلینگ آن مربوط به لاستیک ها و چرخ ها می باشد؟ <br>
			اگر لاستیک خودروی شما بیش از حد کم باد و یا بیش از حد پرباد باشد در میزان مصرف سوخت خودروی شما، وضعیت خودرو در زمان شتاب گیری و یا ترمز بسیار تاثیر گذار خواهد بود. <br>
			طراحان خودرو روز به روز در حال کار بر روی تکنولوژی های جدید بر روی چرخ ها و تایرهای خودرو می باشند تا میزان تاثیرات موارد فوق را در خودرو به حداقل ممکن برسانند.<br>
			اگر خواهان یک سواری آرام در خودرویی با مصرف سوخت کمتر و شتابدهی بیشتر هستید حتماْ چرخ ها و تایرهای خودروی خود را مرتبا سرویس نمایید. <br>
			کارشناسان ما با اطلاع کامل از استانداردهای مزدا و آشنایی با مقادیر مربوط به میزان باد، بالانس چرخها و بسیاری دیگر از موضوعات مرتبط،<br>
        </p>
		  <h4>خودروی شما را در بهترین حالت ممکن از سواری به شما تحویل خواهند داد.</h4>
      </div>
		<%= render "shared/contactside" %>
    </div>
  </div>
</section>