<section id="blog-index">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>بلاگ جدید</h1>
        <%= link_to 'برگشت', blogs_path %>
      </div>
    </div>
  </div>

<%= render 'form', blog: @blog %>
</section>

