<p id="notice"><%#= notice %></p>
<% title @blog.title %>
<section id="blog-index">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h1><%= @blog.title %></h1>
        <div class="article-meta"><%= @blog.created_at.to_parsi.strftime "%d %B %Y" %></div>
        <div class="img">
          <%= image_tag @blog.picture_url(:thumb) if @blog.picture? %>
        </div>
        <p>
          <%= markdown(@blog.body) %>
        </p>
		     
				<div class="addthis_inline_share_toolbox"></div>
      </div>
    </div>
	 
  </div>
</section>

<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-594a151bf72f4e34"></script> 
