<p id="notice"><%#= notice %></p>

<section id="blog-index">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h1><%= @blog.title %></h1>
        <div class="article-meta"><%= @blog.created_at.to_parsi.strftime "%d %B %Y" %></div>
        <div class="img">
          <%= image_tag @blog.picture_url(:thumb) if @blog.picture? %>
        </div>
        <p>
          <%= markdown(@blog.body) %>
        </p>
		  
		 	<div id="share" dir="ltr"></div>
			 
			 
		   
      </div>
    </div>
	 
  </div>
</section>

<script>
  $("#share").jsSocials({
      shares: ["email", "twitter", "facebook", "googleplus", "linkedin"]
  });
</script>

