<section id="contact-side">
	<div class="container">
		<div class="row">
			<div class="col-md-2 box">
				<i class="fa fa-phone-square fa-4x"></i>
				<p>با ما تماس بگیرید</p>
				<p>301 90 90 0910</p>
				<p>31 98 89 44 (021)</p>
				<%= link_to 'تماس با ما', contacts_path, class:"btn btn-success" %>
			</div>
		</div>
	</div>
</section>