<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-part2">
        <div class="col-md-4">
          <h5>درباره ما</h5>
          <ul>
            <li>شعبه ۱: همت شرق به غرب، جنت آباد مركزي، انتهاي بلوار بعثت، خيابان بسيج جنوبي، مجتمع خدمات خودرويي پارسيان، خدمات تخصصي ایران مزدا</li>
            <li>شعبه ۲: همت غرب به شرق، خروجی میدان الغدیر (شهر زیبا) - مجتمع ققنوس - درب شماره ۱ - خدمات تخصصی ایران مزدا</li>
            <li>موبایل: 301 90 90 0910</li>
            <li>تلفن: 31 98 89 44 (021)</li>
            <li>ایمیل: info@irmazda.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>خدمات ما</h5>
          <i class="fa fa-check fa-lg"></i><p> عیب یابی موتور</p>
          <i class="fa fa-check fa-lg"></i><p> تعمیرات موتور</p>
          <i class="fa fa-check fa-lg"></i><p> تعمیرات گیربکس اتوماتیک</p>
          <i class="fa fa-check fa-lg"></i><p> سرویس های دوره ای</p>
          <i class="fa fa-check fa-lg"></i><p> سرویس ترمز</p>
          <%#<i class="fa fa-check fa-lg"></i><p> تعمیرات سیستم تعلیق و ترمز</p>
          <i class="fa fa-check fa-lg"></i><p> سرویس و تعمیرات برق و چراغ ها</p>
          <i class="fa fa-check fa-lg"></i><p> سرویس چرخ ها و تعویض لاستیک ها</p>
          <i class="fa fa-check fa-lg"></i><p> تعویض روغن و تسمه ها</p>%>
          <i class="fa fa-check fa-lg"></i><p> خدمات دیگر مزدا</p>
        </div>
        <div class="col-md-4 time">
          <h5>ساعت کاری</h5>
          <table>
            <tr>
              <td>شنبه: </td>
              <td>۱۸:۰۰ - ۸:۳۰</td>
            </tr>
            <tr>
              <td>یک شنبه: </td>
              <td>۱۸:۰۰ - ۸:۳۰</td>
            </tr>
            <tr>
              <td>دو شنبه: </td>
              <td>۱۸:۰۰ - ۸:۳۰</td>
            </tr>
            <tr>
              <td>سه شنبه: </td>
              <td>۱۸:۰۰ - ۸:۳۰</td>
            </tr>
            <tr>
              <td>چهار شنبه: </td>
              <td>۱۸:۰۰ - ۸:۳۰</td>
            </tr>
            <tr>
              <td>پنج شنبه: </td>
              <td>۱۸:۰۰ - ۸:۳۰</td>
            </tr>
            <tr>
              <td>جمعه: </td>
              <td>تعطیل</td>
            </tr>
          </table>
          
        </div>
      </div>  
    </div>
  </div>
  <section id="copy-right">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6">
				 <h5>طراح و برنامه نویس: <a href="mailto:mohsen.sadegh62@gmail.com">محسن صادق بیگی</a></h5>
			 </div>
        </div>
        <div class="col-md-6">
          <h5>&copy; ۱۳۹۶، کلیه حقوق مادی و معنوی این وبسایت متعلق به مرکز خدمات تخصصی ایران مزدا می باشد.</h5>
        </div>
      </div>
    </div>
  </section>
</footer>