<div id="top-header" dir="ltr">
  <div class="container">
    <div class="row">
      <div class="col-md-8" align="center">
        <div class="col-md-3">
          <i class="fa fa-mobile-phone fa-lg"></i><span> 0910 90 90 301</span>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope-o fa-lg"></i><a href="mailto:iranmazda@gmail.com"> info@irmazda.com</a>
        </div>
        <div class="col-md-4 work-time">
          <i class="fa  fa-clock-o fa-lg"></i><span> Sat - Thu: 8:30am - 6:00pm</span>
        </div>
      </div>

      <div class="col-md-4" align="right">
        <div class="col-md-2">
          <!-- <a href="http://t.me/mazdaservice"><i class="fa fa-telegram fa-lg social"></i></a> -->
        </div>
        <div class="col-md-2">
          <!-- <a href="https://www.instagram.com/irmazda/"><i class="fa fa-instagram fa-lg social"></i></a> -->
        </div>
        <div class="col-md-2">
          <!-- <a href="http://t.me/mazdaservice"><i class="fa fa-telegram fa-lg social"></i></a> -->
        </div>
        <div class="col-md-2">
          <!-- <a href="http://t.me/mazdaservice"><i class="fa fa-telegram fa-lg social"></i></a> -->
        </div>
        <div class="col-md-2">
          <a href="http://t.me/mazdaservice"><i class="fa fa-telegram fa-lg social"></i></a>
        </div>
        <div class="col-md-2">
          <a href="https://www.instagram.com/irmazda/"><i class="fa fa-instagram fa-lg social social-border"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
