<section id="about-us">
	<div id="banner">
		<h1>درباره مجموعه خدماتی ایران مزدا</h1>
	</div>
  <div class="path"></div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
        <p>
          مجموعه خدمات تخصصي ایران مزدا در پاييز ۹۴ به منظور ارائه خدمات متمايز و متناسب با متدهاي روز تاسيس گرديد.

        هدف از ايجاد اين مجموعه ارائه خدمات تخصصي خودروهاي سواري مزدا در مدلهاي ۳۲۳-۲-۳-۶ با آخرين رويه و دستوالعملهاي استاندارد مزدا ژاپن مي­باشد.

        با توجه به پيچیدگي زندگي هاي پيشرفته امروزي بيشتر افراد با كمبود وقت مواجه بوده و هدف كلي اين مجموعه ارائه خدمات در كوتاهترين زمان ممكن مي باشد. متخصصين اين مجموعه از افراد آموزش ديده در گروه بهمن بوده به طوري كه در اين مجموعه عيب خودرو به سرعت و به درستي تشخيص داداه شده و فارغ از هزگونه فرآيند سعي و خطا انجام شده كه ماحصل آن رفع عيب به درسترين شكل در كمترين زمان ممكن با هزينه پايين مي باشد. حتي سعي شده است تعميرات سنگين نظير تعمير موتور و گيربكس اتوماتيك به حالت سيستمي و منظم انجام گرفته تا زمان خواب خودرو به حداقل زمان ممكن كاهش يابد.

        اين مجموعه بر اساس انجام سرويس سريع براي زندگي پر مشغله امروزي، جهت ذخيره زمان و اصول مشتري مداري طرح ريزي شده است.
        </p>
      </div>
    </div>
  </div>
</section>