<section id="errors">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2"> 
        <h1>صفحه مورد نظر شما در دسترس نیست.</h1>
        <%= link_to 'بازگشت به صفحه اصلی', root_path, class:"link-404" %>
      </div>
    </div>
  </div>
</section>